html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  padding: 1rem;
}

button {
  min-width: 200px;
  min-height: 30px;

  font-size: large;
}